@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-color: rgb(48, 48, 48);
  --primary-color: rgb(250, 250, 250);
  --secondary-color: #dee1e6;
  --tertiary-color: #9ca3af;
  --cool-color: rgb(63 63 70);
  --box-color: #ececec;
  --box-style: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.dark {
  --font-color: rgb(250, 250, 250);
  --primary-color: rgb(48, 48, 48);
  --secondary-color: #3f3f46;
  --tertiary-color: #636366;
  --cool-color: rgb(250, 250, 250);
  --box-color: #252525;
  --box-style: rgba(0, 0, 0, 0.5) 0px 2px 8px 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--font-color);
  background: var(--primary-color);
  font-family: -apple-system, 'system-ui', 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size-adjust: none;
  font-size: 100%;
}

main {
  margin: 3.5rem auto;
  max-width: 1024px;
  padding: 0 1rem;
}

section {
  margin: 1.5rem auto;
}

h1 {
  font-size: 1.4rem;
  border-bottom: 1px solid var(--secondary-color);
}

h2 {
  font-size: 1.2rem;
}

h3 {
  margin: 1rem 0 0.5rem 0;
}

ul {
  list-style-type: none;
}

p {
  text-align: justify;
  max-width: 100%;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  display: block;
}

/* adhoc global hack for SVGs except those in articles */
svg:not(article svg, label svg) {
  color: var(--cool-color);
}

input {
  outline: none;
  color: var(--font-color);
}

button {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* these are custom styles for the crop dialog sliders */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--cool-color);
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}
