@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: white;
  --font-color: black;
  --secondary-color: #391b0e;
  --tertiary-color: #a48676;
  --box-color: #f4f4f4;
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  --cool-brown: #d9cbc4;
  --highlight-color: #dee1e6;
}

.dark-theme {
  --primary-color: #282828;
  --font-color: #f8f8ff;
  --secondary-color: #d9cbc4;
  --tertiary-color: #a48676;
  --box-color: #382f2a;
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  --cool-brown: #391b0e;
  --highlight-color: #4e3524;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  font-size: 100%;
  background-color: var(--primary-color);
  color: var(--font-color);
}

main {
  margin: 6rem auto;
  max-width: 768px;
  padding: 0 0.5rem;
}

section {
  margin: 2rem auto;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  margin: 1rem 0 0.5rem 0;
}

ul {
  list-style-type: none;
}

p {
  text-align: justify;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  display: block;
}

input {
  line-height: 1.5rem;
  outline: none;
  color: var(--font-color);
}

button {
  border: none;
  cursor: pointer;
  background: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* these are custom styles for the crop dialog sliders */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--tertiary-color);
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}
